<!doctype html>
<title>Red Hat & DiGi</title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">
{% if name %}
  <h1>Red Hat DiGi Load Balance Demo</h1> <br>
  <h2>Currently Served by the following POD<br><br>
             {{ name }}</h2>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

<br>
<img src="http://videos.cdn.redhat.com/NEXT/new-brand/Logo-RedHat-A-Color-RGB.svg" width="360" height="270">
<img src="https://seeklogo.com/images/D/digi-logo-1203C8EB36-seeklogo.com.png" width="360" height="270">    
</div>
